body{
    padding-top: 55px;
}
.head{
    height: 55px;
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
    padding-top: 15px; 
    max-width: 1100px;
    position: fixed;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.middle{
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 170px;
  }
.logo{
    width: 65px; 
}
